# Credenciales de Base de Datos (Para Docker)
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_PORT=

# Development environment variables
# --- ESTA ES LA QUE TE FALTA ---
DATABASE_URL=

# --- ESTAS SON LAS QUE YA TIENES ---
PROJECT_NAME=
API_V1_STR=
SECRET_KEY=
ALGORITHM=
ACCESS_TOKEN_EXPIRE_MINUTES=

# TU API KEY DE DEEPSEEK
GEMINI_API_KEY=
DEEPSEEK_API_KEY=
DEEPSEEK_BASE_URL=

# CONFIGURACIÓN DEL MODELO LOCAL (Importante para que no falle config.py)
EMBEDDING_MODEL_NAME="intfloat/multilingual-e5-base"



ENVIRONMENT=development